nav {
    display: flex;
    background-color: #011c39;
    justify-content: space-between;
  position: absolute;
  right: 0px;
  left:0px;
  top: 0px;
}
nav .top {
    display: flex;
}
nav .top h1{
    color: #ca42f0;
    padding-left: 5px;
    padding-top: 15px;
}
nav .top img {
    width: 7%;
    margin-left: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
}
nav .onglet {
    display: flex;
    align-items: center;
    margin-right: 100px;
}
nav .onglet p {
    color: white;
    margin-right: 40px;
    cursor: pointer;
}
nav .onglet p:hover {
    color: #ca42f0;
}
body a {
    text-decoration: none;
}

.com {
  margin-left: -50px;
  position: absolute;
  margin-top: -300px;
}
.comv{
  margin-top: 130px;
}